#Group_73{

  width: 250px;
  height: 250px;
  /* position: relative; */
  /* left: 100px; */
  border-radius: 10px;
  animation: moveToLeft 5s linear infinite;
  animation-delay: 1000ms;
  
  
} 
#Group_72{

 
  animation: loveImg 5s linear infinite;
}

@keyframes loveImg {
  0% {
    transform: translateY(0px);
   
  }
  50% {
    transform: translateY(50px) ;
  }
  100% {
    transform: translateY(0px) ;
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(0px);
   
  }
  25% {
    transform: translateX(40px);
  }
  50% {
    transform: translateX(0px) ;
  }

  75% {
    transform: translateX(40px)
  }
  100% {
    /* transform: translateY(0px); */
    transform: translateX(0px)
  }
}